node_modules
.eslintcache
.env

# JetBrains IDEs
.idea
# Visual Studio Code
.vscode
**/postgresql/data/
.DS_Store
**/.env

.terragrunt-cache*
.terraform

**/.terragrunt-cache*
**/.terraform.lock.hcl

**/yarn.lock