NODE_ENV=development
IS_PRODUCTION=false

API_HOST=0.0.0.0
API_PORT=3000

CORS_ORIGIN=true

PG_INFO="{\"database\": \"tododb\", \"username\": \"otlpuser\", \"password\": \"otlppassword\", \"host\": \"postgresql\", \"port\": 5432}"

SECRETS_STRATEGY=env
SECRETS_PG_INFO=PG_INFO

OTLP_DEBUG=true
OTLP_SERVICE_NAME=oltp-backend
OTLP_ENVIRONMENT=development
OLTP_ENABLE_CONSOLE_LOG=true
OLTP_COLLECTOR_URL=http://collector:4318/v1/traces

# In production, replace with a proper secrets manager
# See other Secrets Managers supported by fastify-secrets
#
# This is an example for GCP Secrets Manager
#
# SECRETS_STRATEGY=gcp
# SECRETS_PG_INFO=projects/494141678371/secrets/DB_INFO/versions/latest
#
# This is an example for AWS Secrets Manager
#
# SECRETS_STRATEGY=aws
# SECRETS_PG_INFO=$SECRETS_PG_INFO_ARN
#
# This is an example for Azure Key Vault
#
# SECRETS_STRATEGY=azure
# SECRETS_PG_INFO=your-vault-name|your-secret-name
#
# provide email address for your authorized users (testing/dev only)
# CHECK_AUTHZ_ADMIN_USERS=test@example.com,another@example.com
