.App-header {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.App-content {
  max-width: 640px;
  width: 95%;
  margin: 0 auto;
}
