name: Force ECS Deployment DEV

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:

  build:

    name: Deploy to ECS dev
    runs-on: ubuntu-latest

    steps:

      - name: Check out code
        uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::101259067028:role/dev-otlp-github-actions-role
          role-session-name: github-action-session-otlp
          aws-region: us-east-1

      - name: Force ECS Services Deployment
        run: |
          ./scripts/ecs-force-deployment.sh dev-otlp-cluster us-east-1
